<h1 class="page-header">Web Development</h1>


 <% @lessons.each do |lesson| %>
  <div class="lesson col-md-3">

    <h2> <%= link_to("#{lesson.title}", lesson) %></h2>
    <h3>by <%= lesson.author %></h3>
    <%= image_tag lesson.picture.url(:medium) %>
    <p><%= lesson.summary %></p>
    <%= link_to 'Show', lesson %>
    <%= link_to 'Edit', edit_lesson_path(lesson) %>
    <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div> <!-- lesson -->
<% end %>


